body {
    text-align: center;
    background-color: sandybrown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#game-board {
    border: 1px solid white;
    background-color: sienna;
}